{% extends 'base.html.twig' %}

{% block title %}Liste des categories{% endblock %}

{% block body %}
    <h1>{{ category.label }}</h1>

    <ul>
        {% for traobject in category.traobject  %}

            <li>
                {{include('traobject/card.html.twig') }}
            </li>

        {% endfor %}
    </ul>


{% endblock %}
