{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h1>Créer un avis de recherche</h1>

        {{ include('traobject/form-lost.html.twig') }}

    </div>

{% endblock %}