{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h1>Déclarer une trouvaille</h1>

        {{ include('traobject/form-found.html.twig') }}

    </div>

{% endblock %}