{{ form_start(form) }}

{{ form_widget(form) }}
<button type="submit" class="btn btn-success">
    <i class="fa fa-check"></i>
    {{ button_label|default('Poster mon annonce') }}
</button>
{{ form_end(form) }}

