{% extends "base.html.twig" %}
{% block body %}


    <div class="container">
        <h1>Rechercher un objet</h1>
        {{ include('traobject/form-research.html.twig') }}
    </div>

{% endblock %}
